nav {
  width: 100%;
  min-height: 50px;
  background-color: #5c22f0;
  padding-top: 10px;
  box-shadow: 4px 6px 8px 0px rgba(17, 141, 236, 0.2);
}
h1 {
  font-size: 24px;
  color: #fff;
}
a {
  text-decoration: none;
}
@media (max-width: 602px) {
  h1 {
    font-size: 18px;
    text-align: center;
  }
}
